* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "work sans";
    background-color: #eee;
    text-transform: capitalize;
}
ul {
    list-style: none;
}
.container {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.box1,
.box2 {
    position: relative;
    background-color: white;
    margin: 55px 20px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px
}
.box2 h3 {
    background-color: #2196f3;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box1 h3 {
    background-color: #f44336;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box1 li,
.box2 li {
    padding: 20px 40px;
    position: relative;
}
.box1 li:not(:first-of-type):not(:last-child),
.box2 li:not(:first-of-type):not(:last-child) {
    border-bottom: 1px solid #e7e7e7;
}
li .check {
    background-color: #009688;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 50%;
    translate: 0 -50%;
}
li .check::after {
    content: "";
    width: 2px;
    height: 12px;
    rotate: 45deg;
    background-color: white;
    position: relative;
    top: 2px;
    left: 8px;
    display: inline-block;
}
li .check::before {
    content: "";
    width: 2px;
    height: 4px;
    rotate: -45deg;
    background-color: white;
    position: relative;
    top: 0px;
    left: 5px;
    display: inline-block;
}
.box1 li .uncheck {
    background-color: #e91e63;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 50%;
    translate: 0 -50%;
}
li .uncheck::after {
    content: "";
    width: 2px;
    height: 10px;
    rotate: 45deg;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 9px;
    translate: 0 -50%;
    display: inline-block;
}
li .uncheck::before {
    content: "";
    width: 2px;
    height: 10px;
    rotate: -45deg;
    background-color: #fff;
    position: relative;
    position: absolute;
    top: 50%;
    left: 9px;
    translate: 0 -50%;
    display: inline-block;
}
.box2 > p {
    position: absolute;
    width: 100px;
    background-color: #2196f3;
    color: white;
    height: 40px;
    right: 15px;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.box2 > p::before {
    content: "";
    position: absolute;
    right: -2px;
    top: 3px;
    transform: skew(51deg);
    -webkit-transform: skew(51deg);
    -moz-transform: skew(51deg);
    -ms-transform: skew(51deg);
    -o-transform: skew(51deg);
    width: 80px;
    height: 37px;
    background-color: #2196f3;
    z-index: -1;
}
.box2 p::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 37px;
    right: -2px;
    top: 0;
    z-index: -1;
    background-color: #2196f8;
    transform: skew(-51deg);
    -webkit-transform: skew(-51deg);
    -moz-transform: skew(-51deg);
    -ms-transform: skew(-51deg);
    -o-transform: skew(-51deg);
}
.box2 li:nth-last-of-type(2)::after {
    content: "?";
    background-color: #777;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
}